.vscode/settings.json
logging/module/__pycache__/__init__.cpython-36.pyc
logging/module/__pycache__/__init__.cpython-37.pyc
logging/module/__pycache__/lower.cpython-36.pyc
logging/module/__pycache__/lower.cpython-37.pyc
rest/__pycache__/service.cpython-36.pyc
